@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-rounded {
  @apply rounded-[10px];
}

.table-container {
  overflow-y: auto;
  max-height: 60vh;
}

.table-container table {
  width: 100%;
}

.table-container thead th {
  top: 0;
  background-color: #fff;
  z-index: 1;
}

/* styles.css atau file CSS Anda */

.table-auto {
  border-collapse: collapse;
}

.table-auto th,
.table-auto td {
  border: 1px solid #ddd;
  padding: 8px;
}

.table-auto th {
  background-color: #f2f2f2;
  color: black;
  font-weight: bold;
}

.table-auto tr:nth-child(even) {
  background-color: #f9f9f9;
}

.table-auto tr:hover {
  background-color: #ddd;
}

.table-auto tr.selected {
  background-color: #cce5ff;
}

.table-auto input[type="text"],
.table-auto input[type="number"],
.table-auto input[type="date"] {
  width: 100%;
  padding: 5px;
  margin: 2px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}
